<section class="content-header">
  <h1>Users</h1>
  <ol class="breadcrumb">
    <li><a href="/ui"><i class="fa fa-dashboard"></i> Home</a></li>
    <li><a href="/ui/users">Users</a></li>
    <li class="active">New user</li>
  </ol>
</section>

<section class="content">
  <div class="container">
    <div class="box box-info">
      <div class="box-header with-border">
        <h3 class="box-title" data-ng-show="!user.id">New user</h3>
        <h3 class="box-title" data-ng-show="user.id">Edit user</h3>
      </div>
      <form class="form-horizontal" name="userForm" onsubmit="return false;" novalidate>
        <div class="box-body">
          <div class="form-group" data-ng-class="{'has-error':hasError('username')}">
            <label for="username" class="col-sm-2 control-label">Username</label>
            <div class="col-sm-10">
              <input type="text" class="form-control" name="username" data-ng-model="user.username" data-ng-disabled="user.id" placeholder="Username">
              <label data-ng-show="hasError('username')" class="control-label" for="username">
                <i class="fa fa-times-circle-o"></i> {{errorMessage('username')}}
              </label>
            </div>
          </div>
          <div class="form-group" data-ng-show="user.id == null" data-ng-class="{'has-error':hasError('password')}">
            <label for="password" class="col-sm-2 control-label">Password</label>
            <div class="col-sm-10">
              <input type="password" class="form-control" name="password" data-ng-model="user.password" placeholder="Password">
              <label data-ng-show="hasError('password')" class="control-label" for="password">
                <i class="fa fa-times-circle-o"></i> {{errorMessage('password')}}
              </label>
           </div>
          </div>
          <div class="form-group" data-ng-class="{'has-error':hasError('name')}">
            <label for="name" class="col-sm-2 control-label">Name</label>
            <div class="col-sm-10">
              <input type="text" class="form-control" name="name" data-ng-model="user.name" placeholder="Full name">
              <label data-ng-show="hasError('name')" class="control-label" for="name">
                <i class="fa fa-times-circle-o"></i> {{errorMessage('name')}}
              </label>
            </div>
          </div>
          <div class="form-group">
            <label for="role" class="col-sm-2 control-label">Role</label>
            <div class="col-sm-10">
              <select class="form-control" name="role" data-ng-model="user.role">
                <option>USER</option>
                <option>ADMINISTRATOR</option>
                <option>SUPER_ADMINISTRATOR</option>
              </select>
            </div>
          </div>
          <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
              <div class="checkbox">
                <label>
                  <input type="checkbox" name="enabled" data-ng-model="user.enabled"> Enabled
                </label>
              </div>
            </div>
          </div>
        </div>
        <div class="box-footer">
          <button type="submit" class="btn btn-default" data-ng-click="cancel()">Cancel</button>
          <button type="submit" class="btn btn-info pull-right" data-ng-show="!user.id" data-ng-click="saveUser()">Create user</button>
          <button type="submit" class="btn btn-info pull-right" data-ng-show="user.id" data-ng-click="saveUser()">Save changes</button>
        </div>
      </form>
    </div>
    <div class="box box-danger" data-ng-show="user.id">
      <div class="box-header with-border">
        <h3 class="box-title">Delete user</h3>
      </div>
      <div class="box-body">
        <button type="button" class="btn btn-danger pull-right" data-ng-click="deleteUser()">Delete this user</button>
        <p>Once you delete a user, there is no going back. Please be certain.</p>
      </div>
    </div>
  </div> 
</section>
